allowed_account_ids      = ["<LOGGING_ACCOUNT_ID>"]
owner_email             = "logging@example.com"
ops_team_email          = "ops@example.com"
log_archive_bucket_name = "uk-landing-zone-log-archive-<LOGGING_ACCOUNT_ID>"
