bucket         = "uk-landing-zone-terraform-state-<MANAGEMENT_ACCOUNT_ID>"
key            = "environments/logging/terraform.tfstate"
region         = "eu-west-2"
encrypt        = true
kms_key_id     = "alias/terraform-state-key"
dynamodb_table = "uk-landing-zone-terraform-locks"
role_arn       = "arn:aws:iam::<LOGGING_ACCOUNT_ID>:role/TerraformDeploymentRole"
